# From openapi-generator v6.0.0

wwwroot/*.js
node_modules
typings
dist

# Added by Cybrid
.github
.gradle
.bundle
.openapi-generator
.pytest_cache
.gitlab-ci.yml
.openapi-generator-ignore
.travis.yml
build.gradle
build.sbt
gradle.properties
gradlew
gradlew.bat
settings.gradle
gradle
target
vendor
git_push.sh
Pipfile
Pipfile.lock
Gemfile.lock
dist
node_modules
package-lock.json
